<form action ="/links" method="post">
  <h1>Enter Link</h1>
  <section>
    <h2>Link Details</h2>
    <p>
      <label for="title"/>
        <span>Title: </span>
        <input type="text" id="title" name="title" required/>
        <strong><abbr title="required">*</abbr></strong>
      </label>
    </p>
    <p>
      <label for="url"/>
        <span>URL: </span>
        <input type="text" id="url" name="url" required/>
        <strong><abbr title="required">*</abbr></strong>
      </label>
    </p>
    <p>
      <label for="tag"/>
        <span>TAG: </span>
        <input type="text" id="tag" name="tag" required/>
        <strong><abbr title="required">*</abbr></strong>
      </label>
    </p>
  </section>
  <section>
     <p>
       <button>Save</button>
     </p>
   </section>
</form>
