<head>
  <link rel="stylesheet" href="/styles.css">
</head>


<body>
  <h1>- Bookmarks -</h1>
  <h2>Add</h2>
  <form class="add_form" action="/new" method="post">
  <div class="">
    <input type="text" name="title" placeholder="Title">
  </div>
  <div class="">
    <input type="text" name="href" placeholder="URL">
  </div>
  <div class="">
    <input type="text" name="tags" placeholder="Tags">
  </div>
  <div class="">
    <input type="submit" value="Save">
  </div>

  </form>
</body>
