
  <h1>- Bookmarks -</h1>
  <h2>Home</h2>

    <ul id="links">
      <% @links.each do |link| %>
        <li><a href="<%=link.href %>"><%=link.title %></a></li>
      <% end %>
    </ul>

  <form action='/add_link' method="get">
    <div class="form-group">
      <input type="submit" class="btn btn-default" id="add_link" value="Add Link">
    </div>
  </form>

  <form action='/sign_out' method="post">
    <div class="form-group">
      <input type="submit" class="btn btn-default" id="sign_out" value="Sign Out">
    </div>
  </form>

  <p><a href="/users/new">Sign Up</a></p>
  <p><a href="/sessions/new">Sign In</a></p>
